extends layout

block content
  if user.votes.length
    ul.votes
      each vote in user.votes
        h2.title
          a==vote.poll.title
        p.option
          !=`You answered '${vote.option}'`
  else
    p You have not voted in any polls. Cast a vote to see your results here.
